/* Base styles */

a{
    text-decoration: none;
}
ul,ol,li{
    list-style:none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
p{
    padding: 0;
    margin: 0;
}

address{
    font-style: normal;
}

img{
    display: block;
}
/* General styles */

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --font-size--main: 1rem;
    --primary-brand:#4D5AE5;
    --pressed-state:#404BBF;
    --dark-color-text:#2E2F42;
    --sucess-color:#31D0AA;
    --accent-color:#E7E9FC;
    --light-color:#F4F4FD;
    --hero-background-color:#2E2F42;
    --white-background:#FFFFFF;
    --modal-background: #FCFCFC;
    --body-text:#434455;
    --subtle-text:#8E8F99;
}


body{
    /* max-width: 1440px; */
    font-family: var(--font-family);
    font-size: var(--main-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--body-text);
    background-color: var(--white-background);
    /* margin: 0 auto; */
}

.section-title{
    font-size: 2.25em;
    line-height: 1.11;
    color:var(--dark-color-text);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.section-list-title{
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.2;
    color:var(--dark-color-text);
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.website-logo{
    font-family: var(--second-family);
    font-weight: 700;
    color:var(--primary-brand);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.website-logo-dark{
    color:var(--dark-color-text);
}

.website-logo-light{
    color:var(--light-color);
}

.container {
    max-width:1158px;
    padding-left:15px;
    padding-right:15px ;
    margin: 0 auto;
}

.section{
 padding: 120px 0;
}

.navigation-menu-item-link:hover,.navigation-menu-item-link:active,.navigation-menu-item-link:focus,.address-menu-item-link:hover,.address-menu-item-link:focus{
 color:var(--pressed-state);
}

.hero-button:hover,.hero-button:active,.hero-button:focus{
    background-color: var(--pressed-state);
}

.list-item-container{
    padding: 32px 0;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}
/* Header styles */

.header{
    border-bottom: 1px solid #e7e9fc;
}
.header-flex{
    display: flex;
}

.navigation-menu-item-link{
    color:var(--dark-color-text);
    font-weight: 500;
    padding: 24px 0;
}

.navigation-flex{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.navigation-menu-flex{
    display: flex;
    gap: 40px;
}


.address-menu-flex{
    display: flex;
    gap: 40px;
}
.address-menu-item-link{
    color: currentColor;
    font-weight: 400;
    font-style: normal;
}

/* Hero section styles */

.hero{
    background-color: var(--dark-color-text);
    text-align: center;
    padding: 188px 0;
}

.hero-title{
    font-size:3.5em;
    line-height: 1.07;
    color:var(--white-background);
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-button{
    display: block;
    margin: 0 auto;
    color:var(--white-background);
    background-color:var(--primary-brand);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-family:var(--font-family);
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    height: 56px;
    min-width: 169px;
}


/* Our Features style */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list-flex{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.list-flex-item{
    flex-basis: calc((100% - 72px) / 4);
}


/* Our team section style */

.our-team{
    background-color: var(--light-color);
}

.team-list-item{
background-color:var(--white-background);
border-radius: 0px 0px 4px 4px;
}


/* Our porfolio */

.list-flex-portfolio{
    flex-wrap: wrap;
    row-gap: 48px;
}



.list-flex-portfolio-item{
    flex-basis: calc((100% - 72px) / 3);
}

.portfolio-list-item-container{
    text-align: left; 
    margin: 0;
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}

/* Footer section style */

.footer{
    background-color: var(--dark-color-text);
    padding: 100px 0;
}
.footer-container{
    padding-left: 15px;
    text-align: justify;
}
.footer-logo-site{
    margin-bottom: 16px;
    display: inline-block;
}

.footer-text-description{
    color:var(--light-color);
    max-width: 264px;
}